asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
distlib==0.3.4
Django==4.0.3
filelock==3.6.0
ghs==0.1.1
gunicorn==20.1.0
halo==0.0.31
idna==3.3
log-symbols==0.0.14
numpy==1.21.1
Pillow==9.2.0
platformdirs==2.5.1
protobuf==3.17.3
pyperclip==1.8.2
PyQt3D==5.15.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtNetworkAuth==5.15.4
PyQtPurchasing==5.15.4
python-dateutil==2.8.2
requests==2.27.1
retry-requests==1.0.1
six==1.16.0
spinners==0.0.24
sqlparse==0.4.2
TBB==0.2
termcolor==1.1.0
urllib3==1.26.9
virtualenv==20.13.4
whitenoise==6.2.0

